.navbar-nav li.signin {
	background-color: #2980b9;
	border-color: #aaa;
	border-width: 5px;
	border-radius: 6px; !important
	color: #fff;
	transition-property: none;
	margin: 8px 8px;
}

.navbar-nav li.signin a {
	padding: 7px 13px;
}

.navbar-nav li.signout a {
	font-weight: normal;
}

.navbar-nav .thinLeftPadding a {
	padding-left: 5px;
}

.navbar-nav .thinRightPadding a {
	padding-right: 5px;

}

.whiteLink {
	color: #fff;
}

.whiteLink:hover, .whiteLink:focus {
	color: #fff;
	-webkit-transition: 10000s;
	transition-duration: 10000s;
}

.navbar-nav li a {
	padding-left: 15px;
	padding-right: 15px;
}